body {
  width: 100%;
  height: 100%;
  font-family: 'Meera Inimai', sans-serif;
}

h3 {
  font-size: 1em;
}


/**************/
/*HEADER*/
/**************/

.header-container {
  background-image: url('../assets/header_background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.header-content-container {
  width: 960px;
  height: 100%;
  margin: auto;
  padding: 20px 10px 0 10px;
}

#header-logo {
  display: inline-block;
  width: 250px;
  height: auto;
}

.nav {
  display: inline-block;
  width: auto;
  float: right;
  color: black;
  list-style: none;
}

.nav li {display: inline;}
.nav li:nth-child(2) {padding: 0 20px 0 20px;}

.header-waves-container {
  margin: 20px 0 20px 0;
}

.header-waves {
  display: block;
  width: 100%;
  height: auto;
  padding: 2px 0 2px 0;
}

.header-carousel {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 20px 0 20px 0;
}

.header-carousel h3 {
  text-align: center;
}

.header-carousel img {
  display: block;
  width: 400px;
  height: auto;
  margin: auto;
  padding: 20px 0 20px 0;
}

.carousel-button {
  display: inline-block;
  background-color: white;
  width: auto;
  height: auto;
  margin: 20px 0 20px 0;
  text-align: center;
  border-radius: 2px;
}

.carousel-button p {
  padding: 10px 10px 10px 10px;
  letter-spacing: 2px;
  vertical-align: middle;
  margin: 0;
  color: #00bff3;
}


/**************/
/*CONTENT*/
/**************/

.content-container {
  width: 960px;
  height: auto;
  text-align: center;
  margin: 30px auto 30px auto;
}

.content-container h2 {
  font-size: 1.5em;
}

#surf-text {
  width: auto;
  height: 2em;
}

.services-container {
  width: 960px;
  height: auto;
  margin: auto;
  padding: 10px;
}

.square {
  display: inline-block;
  width: 30%;
  height: auto;
  margin: 5px 5px 5px 5px;
}

.square img {
  max-width: 100%;
  height: auto;
}

.square p {
  margin: 10px 10px 10px 10px;
}


/**************/
/*CONTACT*/
/**************/

.contact-container {
  width: 75%;
  height: auto;
  margin: 30px auto 30px auto;
  text-align: center;
}

.body-wave {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
  padding: 2px 0 2px 0;
}

.contact-container p {
  margin: 20px 0 10px 0;
}


/**************/
/*TESTIMONIALS*/
/**************/

.testimonials-container {
  width: 75%;
  height: auto;
  margin: 30px auto 30px auto;
  text-align: center;
}

.testimonial {
  margin: 30px auto 30px auto;
}

.testimonial h4 {
  font-style: oblique;
  font-weight: bolder;
  margin-bottom: 0;
}

.testimonial p {
  font-size: 1.2em;
}

/**************/
/*INSTAGRAM*/
/**************/

.instagram-container {
  width: 75%;
  height: auto;
  margin: 30px auto 30px auto;
  text-align: center;
}

#instagram-logo {
  width: 200px;
  height: auto;
  margin: auto;
}

.instagram-module {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin: 10px auto 10px auto;
}

/**************/
/*FOOTER*/
/**************/

#footer {
  background-color: #00bff3;
}

.footer-container {
  width: 75%;
  height: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
}
